/* src/app/globals.css */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-font-family: 'Montserrat', sans-serif;
  --color-text-primary: #121417;
  --color-text-secondary: #8a8a89;
  --color-button-primary: #3470ff;
  --color-button-hover: #0b4cd3;
  --color-white: #ffffff;
}

body {
  font-family: var(--primary-font-family);
  color: var(--color-text-primary);
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--color-white);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}