/* src/app/globals.css */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-main: #101828;
  --color-white: #FFFFFF;
  --color-gray: #8E929A;
  --color-gray-light: #DADDE1;
  --color-background-input: #F7F7F7;
  --color-background-badges: #F2F4F7;
  --color-button-primary: #3470FF;
  --color-button-hover: #0B44CD;
  --font-family-main: var(--font-manrope, sans-serif);
  --font-family-inter: var(--font-inter, sans-serif);
}

body {
  font-family: var(--font-family-main);
  color: var(--color-main);
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--color-white);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1440px;
  }
}